/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .about-us-area .about-info {
        padding-left: 30px;
    }

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .header-area .main-menu ul li {
        margin: 0 5px;
    }
    .blog-area .single-blog .blog-info .blog-title {
        font-size: 20px;
    }
    .fotter-area .fotter-widget .social-icon li {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .about-us-area .about-info {
        padding-left: 55px;
    }
    .blog-sidebar-area .single-blog .blog-info .blog-title {
        font-size: 20px;
    }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .header-transfrent {
        padding-top: 22px;
    }
    header.header-transfrent.header-2 {
        padding-top: 0;
    }
    .header-2 .header-area {
        padding-top: 20px;
    }
    .header-2 .header-area.sticky{
        padding-top: 20px;
    }
    .header-2 .mean-container a.meanmenu-reveal{
        border: 2px solid #ffffff;
        span{
            background: #ffffff;
        }
    }
    .header-2 .header-area.sticky .mean-container a.meanmenu-reveal{
        border: 2px solid #000b22;
        color: #000b22;
        span{
            background: #000b22;
        }
    }
    .slider-area.slider-2 {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .slider-area .slider-content {
        margin-bottom: 50px;
    }
    .about-us-area .about-image {
        margin-bottom: 50px;
    }
    .testimonial-area .testimonial-info button.slick-prev.slick-arrow {
        left: 45%;
    }

    .sticky {
    padding-top: 30px;
    }
    .single-blog .blog-info .blog-title {
        font-size: 20px;
        font-weight: 500;
    }
    .mean-bar .mean-nav ul li a i {
        display: none;
    }
    .testimonial-area .testimonial-info button.slick-prev.slick-arrow{
        top: auto;
        bottom: -60px;
        left: 10px;
    }
    .testimonial-area .testimonial-info button.slick-next.slick-arrow{
        top: auto;
        bottom: -60px;
        right: 10px;
    }
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .blog-sidebar-area .blog-filter-menu .filter-menu-btn{
        margin-right: 35px;
    }
    .about-us-area .about-info h2{
      font-size: 28px;
      margin-bottom: 15px;
    }
    header.header-transfrent {
        padding-top: 22px;
    }
    header.header-transfrent.header-2 {
        padding-top: 0;
    }
    .header-2 .header-area {
        padding-top: 20px;
    }
    .header-2 .header-area.sticky{
        padding-top: 20px;
    }
    .header-2 .mean-container a.meanmenu-reveal{
        border: 2px solid #ffffff;
        color: #ffffff;
        span{
            background: #ffffff;
        }
    }
    .header-2 .header-area.sticky .mean-container a.meanmenu-reveal{
        border: 2px solid #000b22;
        color: #000b22;
        span{
            background: #000b22;
        }
    }
    .slider-area.slider-2 {
        padding-top: 130px;
        padding-bottom: 50px;
    }
    .slider-area{
        padding-top: 30px;
        .slider-content {
            margin-bottom: 50px;
            h2{
                font-size: 38px;
            }
        }
        &:before{
            content: none;
        }
    }
    .slider{
        padding: 70px 0 0 0;
    }
    .header-transfrent {
        padding-top: 30px;
    }

    .about-us-area .about-image {
        margin-bottom: 50px;
    }
    .testimonial-area .testimonial-info button.slick-prev.slick-arrow {
        left: 38%;
    }
    .about-us-area .about-info .indicator-area li i::before {
        margin-right: 5px;
    }
    .about-us-area .about-info .indicator-area li span {
        font-size: 12px;
    }
    .testimonial-area .testimonial-info button.slick-prev.slick-arrow {
        left: 35%;
    }
    .sticky {
        padding-top: 30px;
    }
    .blog-sidebar-area .blog-filter-menu button {
        margin-right: 30px;
    }
    .blog-filtering .blog-filter-menu button {
        margin-right: 30px;
    }
    .protflio-area .protflio-menu button{
        margin-bottom: 10px;
    }
    .mean-bar .mean-nav ul li a i {
        display: none;
    }
    .testimonial-area .testimonial-info button.slick-prev.slick-arrow{
        top: auto;
        bottom: -60px;
        left: 10px;
    }
    .testimonial-area .testimonial-info button.slick-next.slick-arrow{
        top: auto;
        bottom: -60px;
        right: 10px;
    }
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .about-us-area .about-info .indicator-area li i::before {
        margin-right: 10px;
    }
    .about-us-area .about-info .indicator-area li span {
        font-size: 15px;
    }

}